/* asterisco seleciona tudo da página */
/* o que mais diferencia a responsividade é o CSS */
/* vamos trabalhar com o 375 px, que é o médio de celulares */
/* nome da cor, rgb, rgba, hexadecimal (hex, vamos trabalhar com ele), hsl, hwb */


* {
    /* reset do CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Titillium Web', sans-serif;
}

/* se usarmos o px, o usuário n poderá alterar o tamnho da fonte no seu navegador, ele n se adapta */
/* mas o rem se adapta, 1rem = 16px */
/* SEMPRE que se mecher com a posição de um objeto na tela (cima, baixo, esquerda, direitra etc) utilizamos o DISPLAY-FLEX */

/* podemos criar uma pseudo-classe (só existe no CSS) q afeta diretamente a tag html */
/* podemos aq criar uma variável q nem no python, só add dois traços na frente, para utliza-lá digite var(--nome da varioável */
:root {
    --grey-800: #1E293B;
    --grey-600: #475569;
    --grey400: #94a3b8;
    --grey-200: #e2e8f0;
    --purple: #7c3aed;
    --white: #fff;
}

header {
    background-image: url(./imagens/bg-mobile.png);
    background-size: cover;
    height: 8.375rem;

    display: flex;
    /* meche na posição da horizontal */
    justify-content: center;
    /* meche na posição da vertical */
    align-items: center;

    margin-bottom: 3.7rem;
}

main {
    /* só nas laterais */
    padding-inline: 1.5rem;
}

.descricao {
    margin-bottom: 2.5rem;
}

/* selecionar apenas os h1's q estão dentro da classe descricao */
.descricao h1 {
    color: var(--grey-800);
    margin-bottom: 1rem;
    font-size: 1.5625rem;
}

.descricao p {
    color: var(--grey-600);
    font-size: 0.8125rem;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    /* como utilizamos o display flex, podemos usar o gap q da espaço entre os elementos */
    gap: 0.5rem;
}

.input-box div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login label {
    font-size: 0.875rem;
    color: var(--grey-800);
    font-weight: 600;
}

.login input {
    padding: 1rem 0.75rem;
    border: 1px solid var(--grey-200);
    border-radius: 0.25rem;
}

/* placeholder é um atributo, ent precisa colocoar o dois pontos antes */
.login input::placeholder {
    color: var(--grey400);
}

.login input:hover,
.login input:focus {
    outline: 1px solid var(--purple);
}

.login a {
    color: var(--purple);
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
}

.login a:hover {
    text-decoration: underline;
}

.login button {
    margin-top: 1rem;
    padding-block: 1rem;
    width: 100%;
    background: var(--purple);
    border: none;
    border-radius: 0.25rem;

    font-size: 1rem;
    font-weight: 700;
    color: var(--white);
}